<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="WeatherAppDb" connectionString="Server=57da9dd1-099f-483c-a4c3-a228012bf628.sqlserver.sequelizer.com;Database=db57da9dd1099f483ca4c3a228012bf628;User ID=vrfaqqnhdlkqtdfh;Password=PyjC6cPnhWjkzrbxmXWxwPBSajHJrLmZFGpHmWBXbaZYDuZXy8B5sV386yCUBf4C;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>